@use '../../abstracts/mixins' as utils;

.appHeader {

    .container {
        @include utils.d-flex()
    }

    &__logo {
        width: 180px;
    }

    &__buttons {
        @include utils.d-flex($gap: 14px);

        .button--plain {
            padding-right: 5px;
            padding-left: 5px;
        }
    }

    // &__user {}
}

@media (max-width: 728px) {
    .appHeader {
        &__logo {
            width: 140px;
        }
        .text {
            display: none;
        }
    }
}