@use '../../abstracts/mixins' as utils;

.bottom-nav {
    margin: 0 auto;
    padding: 12px 5px 5px;
    width: calc(100% - 24px);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 999px;
    background: linear-gradient(180deg,
            rgba(30, 15, 60, 0.95),
            rgba(10, 5, 25, 0.95));
    color: #FFF !important;
    backdrop-filter: blur(10px);
    box-shadow: 
  0 -8px 20px rgba(255,255,255,0.07),
  0 -2px 5px rgba(255,255,255,0.03);
    font-size: 0.85em;
    position: fixed;
    bottom: 16px;
    left: 10px;
    right: 10px;
    z-index: 20;
    display: none;

    .user__button {
        transform: translateY(-4px);
    }

    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 5px;

        &__item {
             @include utils.d-flex($justify-content: center, $align-items: center);

            .bottom-nav__link {
                @include utils.d-flex($flex-direction: column, $gap: 5px, $justify-content: space-between, $align-items: center);
            }

            &--center {
                
                .bottom-nav__link {
                    align-self: end;
                }

                .bottom-nav__label {
                    margin-bottom: 3px;
                    height: 100%;
                    text-align: center;
                }
            }

            a {
                color: #FFF;

                span {
                    color: #FFF;
                    @include utils.d-flex($justify-content: center);

                    .radial-progress {
                        margin: 0 auto;
                        width: 65px;
                        height: 65px;
                        position: absolute;
                        bottom: 25px;
                        background: radial-gradient(circle at 20% 20%, #1A073D, #0A0516, transparent);
                        transform: translateY(6px);

                        &__body {

                            &--indicator {
                                font-size: 0.95em;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 728px) {
    .bottom-nav {
        display: block;
    }
}