@use '../abstracts/mixins' as utils;

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1264px;
}

.card__container {
    @include utils.d-flex($justify-content: space-evenly)
}

.double__column {
    @include utils.d-flex($flex-direction: row, $flex-wrap: nowrap, $justify-content: space-between)
}

