@use '../abstracts/mixins' as utils;
@use '../abstracts/variables' as vars;

.studentDashboard {

    %subtitle {
        font-size: 1.3em;
    }

    %course-layout {
        margin: 20px 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        text-align: center;
    }

    @include utils.d-flex($flex-wrap: nowrap, $justify-content: start, $align-items: start);

    .divisor {
        margin: 0 auto;
        width: 98%;
        border: 2px dashed rgba($color: vars.$gray-500, $alpha: 0.4);
    }

    &__progress {

        &--title {
            font-size: 1em;
            font-weight: 400;
        }

        &--divisor {
            width: 100%;
            border: 1px solid rgba($color: vars.$gray-500, $alpha: 0.3);
        }

        &--modules {
            width: 100%;
            font-size: 0.8em;
            text-align: center;
            @include utils.d-flex($justify-content: center, $gap: 5px);

            svg {
                font-size: 1em;
            }

            span {
                font-weight: 800;
            }
        }
    }

    &__register {
        h2 {
            margin-bottom: 5px;
            font-size: 1em;
            font-weight: 400;
        }

        &__course {
            width: 100%;
            cursor: pointer;

            &--content {
                @include utils.d-flex($flex-wrap: nowrap, $gap: 15px, $justify-content: start);

                div {
                    h3 {
                        font-size: 1em;
                        font-weight: 600;
                    }

                    small {
                        font-size: 0.7em;
                        font-weight: 300;
                        color: vars.$gray-100;
                    }
                }

            }
        }

        &__divisor {
            width: 100%;
            border: 1px solid rgba($color: vars.$gray-500, $alpha: 0.3);
        }
    }

    .card {
        @include utils.d-flex($flex-direction: column, $flex-wrap: nowrap, $justify-content: start, $align-items: start);
    }

    &__col {

        &:first-child {
            width: 75%;
            @include utils.d-flex($flex-direction: column, $align-items: stretch);
        }

        &:nth-child(2) {
            width: 25%;

            @include utils.d-flex($flex-direction: column, $align-items: stretch);
        }
    }

    .roadmap {
        gap: 10px;

        h2 {
            @extend %subtitle;
        }

        &__header {
            @include utils.d-flex($gap: 10px, $justify-content: start);
        }

        &__body {

            button {
                margin-top: 10px;
            }
        }
    }

    .new-courses {
        h2 {
            @extend %subtitle;
        }

        .courses {

            @extend %course-layout;

            .new-course {
                padding: 10px;

                &__header {
                    img {
                        width: 100%;
                        border-radius: 5px;
                        opacity: 0.5;
                    }
                }

                &__body {
                    padding: 0px 10px;

                    &--title {
                        margin-bottom: 15px;
                        font-size: 1em;
                        font-weight: 600;
                        text-align: left;
                    }

                    &--feature {
                        margin-bottom: 10px;
                        @include utils.d-flex($gap: 10px, $justify-content: start)
                    }

                    &--description {
                        font-weight: 300;
                    }
                }

                &__footer {
                    padding: 0px 10px 10px;
                    width: 100%;
                    @include utils.d-flex($justify-content: stretch);

                    button {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }

    .soon-courses {
        margin-bottom: 100px;
        height: auto;

        h2 {
            @extend %subtitle;
        }

        .courses {
            text-align: left;
            @extend %course-layout;

            .soon-course {
                padding: 10px 10px 20px;
                @include utils.d-flex($flex-wrap: nowrap, $gap: 10px, $justify-content: start);

                &__content {

                    &--title {
                        margin-bottom: 10px;
                        font-size: 1em;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}




.progress-bar--single {
    margin: 10px 0;
    width: 100%;
    height: 10px;
    background: rgba($color: vars.$color-white, $alpha: 0.2);
    border-radius: 20px;

    div {
        height: 100%;
        background: vars.$purple-secondary-200;
        border-radius: 20px;
    }
}

@media (max-width: 850px) {

    .studentDashboard {

        &__col {
            &:first-child {
                width: 65%;
            }

            &:last-child {
                width: 35%;
            }
        }
    }
}

@media (max-width: 728px) {

    .studentDashboard {

        &__col {
            &:first-child {
                width: 100%;
            }

            &:last-child {
                display: none;
            }
        }
    }
}