@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as utils;

.continueLearning {
    padding: 20px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba($color: vars.$color-white, $alpha: 0.08);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    position: relative;
    @include utils.d-flex($gap: 10px, $flex-wrap: nowrap);

    &::before {
        content: "";
        margin-top: -30px;
        width: 100%;
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: url('../../assets/img/ContinueLearning.png');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 100% 0;
        filter: opacity(0.3);
    }

    &__caption {
        width: 70%;

        &--title {
            font-size: 1.8em;
            font-weight: 600;
        }

        &--info {
            margin: 30px 0 15px;
            font-size: 0.8em;
            font-weight: 300;
            @include utils.d-flex($justify-content: start, $gap: 5px)
        }

        &--details {
            margin-bottom: 25px;
            padding: 5px 0;
            @include utils.d-flex($justify-content: start, $gap: 5px, $flex-wrap: no-wrap);
            overflow-y: auto;
            white-space: nowrap;
        }
    }

    &__img {
        padding: 10px;
        width: 30%;
        //opacity: 0.6;
    }

    img {
        width: 100%;
    }

    button {
        margin-top: 20px;
        padding: 10px 38px;
    }

}

@media (max-width: 1024px) {
    .continueLearning {
        &::before {
            margin: 0;
        }     
    }
}

@media (max-width: 810px) {
    .continueLearning {

        &::before {
            margin: 0;
            background-position: 100% 0px;
            filter: opacity(0.3);
        }
        
        &__caption {
            width: 100%;

            &--title {
                width: 80%;
            }

            button {
                width: 100%;
            }
        }
        &__img {
            display: none;
        }
    }
}

@media (max-width: 424px) {
    .continueLearning {
        &__caption {
            &--title {
                font-size: 1.3em;
            }
        }
    }
}