@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as utils;

.radial-progress {
    margin: 0 auto;
    width: 110px;
    height: 110px;
    border: 1px solid rgba($color: vars.$color-white, $alpha: 0.1);
    border-radius: 50%;
    position: relative;

    &::before {
        content: "";
        background: conic-gradient(vars.$purple-secondary-500 42%, rgba($color: vars.$color-white, $alpha: 0.05) 0);
        border-radius: 50%;
        position: absolute;
        inset: 0;
    }

    &::after {
        content: "";
        position: absolute;
        inset: -4px;
        border-radius: 50%;
        background: conic-gradient(vars.$purple-secondary-500 42%,
                transparent 0);
        filter: blur(6px);
        opacity: 0.35;
        z-index: -1;
    }

    &__body {
        position: absolute;
        inset: 9px;
        background: #151521;
        border: 1px solid rgba($color: vars.$color-white, $alpha: 0.00);
        border-radius: 50%;
        @include utils.d-flex($justify-content: center);

        &--indicator {
            font-size: 1.4em;
        }
    }
}