@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as utils;

.card {
    padding: 20px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba($color: vars.$color-white, $alpha: 0.08);
    border-radius: 10px;
    backdrop-filter: blur(20px);
    @include utils.d-flex($flex-direction: column);

    &__icon {
        font-size: 2em;
    }

    h4 {
        font-weight: 600;
        font-size: 1.1em;
        text-align: center;
    }
}