@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as utils;

.modal {
    width: 100vw;
    height: 100vh;
    background: rgba($color: vars.$color-black, $alpha: 0.6);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    &.hidden {
        display: none;
    }

    &__window {
        width: 90%;
        max-width: 380px;
        height: 260px;
        background: radial-gradient(circle at 20% 20%, rgba(10, 5, 22, 0.5), rgba(5, 1, 11, 0.1));
        border-radius: 10px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        @include utils.d-flex($flex-direction: column, $justify-content: start);

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            padding: 2px;
            /* grosor del borde */
            background: linear-gradient(18deg, vars.$blue-brand, vars.$green-brand);
            mask:
                linear-gradient(vars.$color-white 0 0) content-box,
                linear-gradient(vars.$color-white 0 0);
            mask-composite: exclude;
            -webkit-mask-composite: destination-out;
            filter: blur(100px);
            /* desenfoque del borde */
            z-index: 0;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba($color: vars.$color-white, $alpha: 0.05);
            backdrop-filter: blur(20px);
            border-radius: inherit;
            z-index: 0;
        }
        section {
            padding: 20px;
            position: relative;
            z-index: 2000;
            @include utils.d-flex($flex-direction: column, $justify-content: space-between);
            
            p {
                text-align: center;
            }
            button {
                display: block !important;
            }
        }

        &--header {
            h1 {
                margin-top: 20px;
                font-size: 1.1em;
                font-weight: 500 !important;
                text-align: center;
            }
        }
    }
}