.course {
    background-color: rgba(33, 33, 45, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    padding: 20px;
    position: relative;
    box-shadow: 0 0 10px inset rgba(255, 255, 255, 0.1);
    width: 400px;

    .course__img {
        padding: -20px;
        width: 100%;
        height: auto;
        display: block;
    }

    .course__content {
        padding: 20px;

        .course__content--title {
            font-size: 1.6rem;
            margin-bottom: 10px;
        }

        .course__content--description {
            font-size: 1rem;
            color: #ccc;
            margin-bottom: 20px;
        }

        .course__content--button {
            text-decoration: none;
            color: #121212;
            background: linear-gradient(to right, #01c4e7, #2ef8a0);
            padding: 5px 20px;
            border-radius: 4px;
            transition: background 0.3s ease;
        }
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
    }
}